[submodule "frontend"]
	path = frontend
	url = https://github.com/zaharscript/google-map-web-scrap-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/zaharscript/google-map-web-scrap-backend
